spring:
  datasource:
    url: jdbc:h2:mem:minisocialdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update   # o create-drop si quieres limpiar cada vez
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
    port: 9090
